.App {
    background: linear-gradient(to bottom right, #e70077, #f3cee1);
    width: 28rem;
    margin: 2rem 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
